@page "/products"
@inject IProductService Api

<h3>Product List</h3>

<Loader IsLoading=@isLoading>

    <Content>
        <Table Items="@products">
            <HeaderTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
            </HeaderTemplate>

            <RowTemplate Context="product">
                <td>@product.Id </td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td><a class="btn btn-primary" href="/products/view/@product.Id">View</a></td>
            </RowTemplate>
        </Table>

    </Content>

</Loader>

@code {

    private List<Product>? products;

    private bool isLoading => products is null;

    protected override async Task OnInitializedAsync()
    {
        products = await Api.GetAll();
    }



}
