@page "/products"
@using BlazorWebAssemblyApp.Services
@using BlazorWebAssemblyApp.Shared
@using Domain.Models
@inject IProductService Api

<h3>Product List</h3>

<Loader IsLoading=@isLoading>

    <Content>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Id </td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td><img src="@product.ImageUrl"/></td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td>Count: @products.Count</td>
                </tr>
            </tfoot>


        </table>
    </Content>

</Loader>

@code {

    private List<Product>? products;

    private bool isLoading => products is null;

    protected override async Task OnInitializedAsync()
    {
        products = await Api.GetAll();
    }



}
